<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397469515736-v9gmh91s09pu02nnphhnovunb2ni868c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397469515736-v9gmh91s09pu02nnphhnovunb2ni868c</string>
	<key>API_KEY</key>
	<string>AIzaSyAgW481fXKat--0y6bhMx02caiSoLdIIw8</string>
	<key>GCM_SENDER_ID</key>
	<string>397469515736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cupertinoChatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-2736a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-2736a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397469515736:ios:7ead0eecbb986ff473bcad</string>
</dict>
</plist>